<library path="src">
  <class name="TurtleButler" type="rqt_turtlebutler.butler_module.TurtleButler" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A C++ GUI plugin for the TurtleButler.
    </description>
    <qtgui>
      <label>Turtle Butler</label>
      <icon type="theme">system-help</icon>
    </qtgui>
  </class>
</library>
